@model FootBallWebLaba1.Models.Club
@{
    ViewData["Title"] = "Request";
}

<h1>Запит чемпіонати</h1>



<h4>Знайти клуби які грали на всіх тих і тільки стадіонах, що і задана команда </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            @using (Html.BeginForm("ClubAllStadiumRequestPost", "Clubs"))
            {
                <div class="form-group">
                    <label asp-for="ClubName" class="control-label"></label>
                    <select asp-for="ClubId" class="form-control" asp-items="ViewBag.ClubId"></select>
                </div>
                <p>
                    <input type="submit" class="btn btn-primary mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px" value="Запит" />
                </p>
            }
        </div>
        @* <p>
        <a href="@Url.Action("ChampRequest", new {quantity = @ViewBag.quantity})"> <input type="button" value="Знайти" asp-action="Details" class="btn btn-success mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px" /></a>
        </p>*@
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px">Назад до списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
